
@import "compass/css3"
//Global CLass

.center
	text-align: center

body, html
	width : 100%
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale
	font-smoothing : antialiased
h2
	text-align: center

.btn
	background : #ef7a00
	color : white
	display : inline-block
	font-size : 20px

.banner
	height : 400px
	margin-top : -15px
	background-repeat : no-repeat
	background-position: center center
	-webkit-background-size: cover
	-moz-background-size: cover
	-o-background-size: cover
	background-size: cover
	position: relative
	font-weight : bold
	.logo
		text-align: left
		margin-bottom : 80px
		img
			margin : 100px 100px 0

	.description
		background : rgba(255,255,255,0.5)
		font-size: 55px
		padding : 20px
		// margin : 200px 0 0 0
		color : #ef7a00
		font-family : 'bebasneue_regular', 'helvetica'
		text-align: right
		// position : absolute
		// bottom : 150px
		// right : 150px
		// max-width: 650px
		// text-transform: uppercase

#clients 
	margin : 50px 0
	.client
		text-align: center
		margin-top: 30px
		a
			vertical-align: middle
			display : table-cell
			height: 130px
			padding : 0 10px
			img
				vertical-align: middle
				// max-width: 200px
				+filter(grayscale(100%))
				transition : all 0.1s ease-in-out
				&:hover
					+filter(grayscale(0%))

//Piliers
.pilier
	margin: 50px 0 40px 0
	padding: 0 40px
	.title
		font-weight: bold
		margin: 10px 0
	.more
		border: 1px solid #999
		border-radius: 3px
		color: #777
		text-align: center
		display: inline-block
		padding: 5px 7px
		margin: 10px 0 0 0
		text-decoration: none
	&:last-child:nth-child(odd)
		margin : auto
		float: none


#temoignages
	display: inline-block
	height : 500px
	width: 100%
	margin : 40px 0
	// background: url(/assets/images/hands.jpg) no-repeat center center
	background-repeat : no-repeat
	background-position: center center
	-webkit-background-size: cover
	-moz-background-size: cover
	-o-background-size: cover
	background-size: cover

	.fa
		color : white
		position : absolute
		top : 30%
		&.fa-quote-right
			right : 40px
		&.fa-quote-left
			left : 40px
	.temoignage
		background-color : rgba(255,255,255,0.7)
		width : 500px
		text-align: center
		padding :  20px 100px
		margin: 100px auto 0
		font-size: 20px
		font-style: italic
		position: relative
		-webkit-font-smoothing: antialiased
		+border-radius(3px)
		.author
			display: block
			margin : 15px 0 0 0
			line-height: 12px
		.status
			font-size: 14px

		a
			background : orange
			color : white