
@import "compass/css3"
//Global CLass

.center
	text-align: center

body, html
	width : 100%

//Piliers
.pilier
	margin: 0 0 40px 0
	padding: 0 40px
	.title
		font-weight: bold
		margin: 10px 0
	.more
		border: 1px solid #999
		border-radius: 3px
		color: #777
		text-align: center
		display: inline-block
		padding: 5px 7px
		margin: 10px 0 0 0
		text-decoration: none
	&:last-child:nth-child(odd)
		margin : auto
		float: none


#temoignages
	display: inline-block
	height : 500px
	width: 100%
	margin : 40px 0
	background: url(/assets/images/hands.jpg) no-repeat center center
	background-repeat : no-repeat
	background-position: center center
	-webkit-background-size: cover
	-moz-background-size: cover
	-o-background-size: cover
	background-size: cover
	.temoignage
		background-color : rgba(255,255,255,0.7)
		text-align: center
		padding : 20px
		margin-top: 100px
		font-size: 20px
		font-style: italic
		-webkit-font-smoothing: antialiased
		.author
			display: block
			margin : 15px 0 0 0
		.status
			font-size: 14px

		a
			background : orange
			color : white