
/** Header **/
.logo img {
    max-height: 20px;
}
.spacer {
    margin-bottom: 50px;
}
.navbar {
    text-transform: uppercase;
}
.navbar-nav>li>a.active {
    background-color: #e7e7e7;
}
.navbar-nav>li>a:hover {
    background-color: #e7e7e7 !important;   
}
/** Banner **/


/** General CSS **/
.pt {
    padding-top: 15px; 
}
.pb {
    padding-bottom: 15px; 
}
.bpt {
    padding-top: 45px;
}
.bpb {
    padding-bottom: 45px; 
}
.mt {
    margin-top: 15px; 
}
.mb {
    margin-bottom: 15px; 
}
.bmt {
    margin-top: 45px; 
}
.bmb {
    margin-bottom: 45px;
}

/** Footer **/ 
.footer {
    background-color: black; 
    color: grey;
}