/* line 7, ../sass/screen.sass */
.center {
  text-align: center;
}

/* line 10, ../sass/screen.sass */
body, html {
  width: 100%;
  font-family: "Ubuntu", sans-serif;
  background-color: #f1f1f1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
}

/* line 18, ../sass/screen.sass */
h1 {
  font-family: "bebasneue_regular", "helvetica";
  font-size: 50px;
}

/* line 23, ../sass/screen.sass */
h2 {
  font-size: 40px;
  margin: 20px 0;
}

/* line 26, ../sass/screen.sass */
.btn-effect {
  display: block;
  margin: 1em;
  border: none;
  background: none;
  color: inherit;
  vertical-align: middle;
  position: relative;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  padding: 0 15px;
  -webkit-transition: border-color 0.3s, color 0.3s;
  transition: border-color 0.3s, color 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  line-height: 45px;
  background: transparent;
  color: white;
  display: inline-block;
  border: 2px solid #ef7a00;
  color: #ef7a00;
  text-transform: uppercase;
  font-size: 14px;
  text-decoration: none;
}
/* line 55, ../sass/screen.sass */
.btn-effect:before {
  background: #ef7a00;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 150%;
  height: 100%;
  z-index: -1;
  -webkit-transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
  transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
  -webkit-transform-origin: 0% 100%;
  transform-origin: 0% 100%;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s, background-color 0.3s;
  transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
}
/* line 70, ../sass/screen.sass */
.btn-effect:hover {
  border: 2px solid #ef7a00;
  color: white;
  text-decoration: none;
}
/* line 74, ../sass/screen.sass */
.btn-effect:hover:before {
  background: #ef7a00;
  opacity: 1;
  -webkit-transform: rotate3d(0, 0, 1, 0deg);
  transform: rotate3d(0, 0, 1, 0deg);
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
/* line 81, ../sass/screen.sass */
.btn-effect.btn-large {
  font-size: 18px;
  padding: 2px 15px;
}

/* line 86, ../sass/screen.sass */
.bgWhite {
  background: white;
}

/* line 90, ../sass/screen.sass */
.navbar {
  height: 85px;
  background-color: rgba(255, 255, 255, 0.95);
}
/* line 93, ../sass/screen.sass */
.navbar a {
  color: #333;
}

/* line 96, ../sass/screen.sass */
.menu-link {
  color: #333;
  line-height: inherit !important;
  padding: 0 !important;
  margin: 30px 15px;
  transition: all 0.3s;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
  height: 30px;
}
/* line 106, ../sass/screen.sass */
.menu-link:hover {
  background-color: transparent !important;
  border-bottom: 5px solid #ef7a00;
  color: #ef7a00;
  text-decoration: none;
}

/* line 114, ../sass/screen.sass */
.homePage .navbar {
  transition: all 0.2s ease-in-out;
  background: transparent;
}
/* line 117, ../sass/screen.sass */
.homePage .logo {
  display: none;
}
/* line 119, ../sass/screen.sass */
.homePage .menu-link {
  color: #eee;
}

@media (max-width: 768px) {
  /* line 123, ../sass/screen.sass */
  .navbar-collapse {
    background-color: rgba(255, 255, 255, 0.95);
  }
  /* line 125, ../sass/screen.sass */
  .navbar-collapse .menu-link {
    margin: 5px 15px;
  }
  /* line 127, ../sass/screen.sass */
  .navbar-collapse .menu-link:hover {
    border: none !important;
  }

  /* line 129, ../sass/screen.sass */
  .menu-link:hover {
    border: none !important;
    text-decoration: none !important;
  }
}
/* line 134, ../sass/screen.sass */
.homePage .navbarActive {
  background: rgba(255, 255, 255, 0.95);
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 0px 0px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 0px 0px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 0px 0px;
}
/* line 137, ../sass/screen.sass */
.homePage .navbarActive .logo {
  display: block;
}
/* line 139, ../sass/screen.sass */
.homePage .navbarActive a {
  color: #333 !important;
}
/* line 141, ../sass/screen.sass */
.homePage .navbarActive a:hover {
  color: #ef7a00 !important;
}

/* line 143, ../sass/screen.sass */
.banner {
  height: 400px;
  margin-top: -15px;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  font-weight: bold;
  line-height: 65px;
}
/* line 155, ../sass/screen.sass */
.banner .big-logo {
  text-align: left;
  margin-bottom: 80px;
}
/* line 158, ../sass/screen.sass */
.banner .big-logo img {
  margin: 100px 0 0;
}
/* line 161, ../sass/screen.sass */
.banner .description {
  background: rgba(255, 255, 255, 0.5);
  padding: 20px;
  text-align: right;
}
/* line 166, ../sass/screen.sass */
.banner .description h1 {
  color: #ef7a00;
}

/* line 169, ../sass/screen.sass */
#clients {
  margin: 40px 0 70px;
}
/* line 171, ../sass/screen.sass */
#clients .client {
  text-align: center;
  margin-top: 30px;
}
/* line 174, ../sass/screen.sass */
#clients .client a {
  vertical-align: middle;
  display: table-cell;
  height: 130px;
  padding: 0 10px;
}
/* line 179, ../sass/screen.sass */
#clients .client a img {
  vertical-align: middle;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: all 0.1s ease-in-out;
}
/* line 184, ../sass/screen.sass */
#clients .client a img:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

/* line 188, ../sass/screen.sass */
#piliers {
  margin: 0 0 100px 0;
}

/* line 193, ../sass/screen.sass */
.pilier .title {
  font-weight: bold;
  margin: 10px 0;
}
/* line 196, ../sass/screen.sass */
.pilier .more {
  border: 1px solid #999;
  border-radius: 3px;
  color: #777;
  text-align: center;
  display: inline-block;
  padding: 5px 7px;
  margin: 10px 0 0 0;
  text-decoration: none;
}
/* line 205, ../sass/screen.sass */
.pilier:nth-child(even) {
  position: relative;
  top: 90px;
  min-height: 170px;
}
/* line 209, ../sass/screen.sass */
.pilier a {
  color: #ef7a00;
}

@media (max-width: 992px) {
  /* line 213, ../sass/screen.sass */
  .pilier:nth-child(even) {
    top: 0;
    min-height: 10px;
  }
}
/* line 217, ../sass/screen.sass */
#temoignages {
  display: inline-block;
  height: 500px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* line 230, ../sass/screen.sass */
#temoignages .fa {
  color: white;
  position: absolute;
  top: 30%;
}
/* line 234, ../sass/screen.sass */
#temoignages .fa.fa-quote-right {
  right: 40px;
}
/* line 236, ../sass/screen.sass */
#temoignages .fa.fa-quote-left {
  left: 40px;
}
/* line 238, ../sass/screen.sass */
#temoignages .temoignage {
  background-color: rgba(255, 255, 255, 0.7);
  width: 500px;
  text-align: center;
  padding: 20px 100px;
  margin: 60px auto 0;
  font-size: 20px;
  font-style: italic;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
/* line 249, ../sass/screen.sass */
#temoignages .temoignage .author {
  display: block;
  margin: 15px 0 0 0;
  line-height: 12px;
}
/* line 253, ../sass/screen.sass */
#temoignages .temoignage .status {
  font-size: 14px;
}

/* line 259, ../sass/screen.sass */
#social {
  margin: 30px 0;
}

/* line 265, ../sass/screen.sass */
#services {
  text-align: center;
  margin: 0 0 40px 0;
}
/* line 268, ../sass/screen.sass */
#services h2 {
  text-align: center;
}

/* line 270, ../sass/screen.sass */
.service {
  text-align: center;
  width: 100%;
  margin: 0 0 10px;
  display: inline-block;
  text-decoration: none;
  color: black;
  position: relative;
  background: white;
  transition: all 0.1s;
}
/* line 280, ../sass/screen.sass */
.service:hover {
  -webkit-transform: scale(1.03, 1.03);
}
/* line 282, ../sass/screen.sass */
.service .image {
  background-blend-mode: multiply;
  display: inline-block;
  height: 260px;
  width: 100%;
  color: white;
  font-size: 100px;
  line-height: 260px;
  vertical-align: middle;
  background: #ef7a00 url(/assets/images/hands.jpg) no-repeat center center;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* line 300, ../sass/screen.sass */
.service:hover {
  color: black;
  text-decoration: none;
}
/* line 303, ../sass/screen.sass */
.service img {
  width: 100%;
}
/* line 308, ../sass/screen.sass */
.service .information {
  height: 200px;
  background: white;
  float: left;
  width: 100%;
  position: relative;
  z-index: 2;
}
/* line 315, ../sass/screen.sass */
.service h3 {
  margin: 20px 0 10px;
}
/* line 317, ../sass/screen.sass */
.service .text {
  padding: 0 20px 20px;
}
/* line 320, ../sass/screen.sass */
.service .filter {
  background-color: #ef7a00;
  opacity: 0.5;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}
/* line 327, ../sass/screen.sass */
.service .btn-effect {
  margin: 0 0 20px 0;
}

/* line 332, ../sass/screen.sass */
.page {
  margin-top: 120px;
}
